@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="banner">
    <div class="bnr2">
    </div>
</div>
<!--pages-starts-->
<div class="pages">
    <div class="container">
        <h2 class="top">Typography</h2>
    </div>
</div>